<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="minecraftScaleCalculator" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="minecraftScaleCalculator" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="minecraftScaleCalculator" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="minecraftScaleCalculator" class="no-js"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Minecraft Scale Calulator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>

</head>

<body>


    <div class="tsw-calculator" ng-controller="TswMcSCalculator as calculator">
        <h1>Minecraft Scale Calculator</h1>

        <p>This calculator can convert a distance into a number of blocks in Minecraft by rounding to the nearest meter and using a blocks per meter scale.</p>

        <form>

            <div class="tsw-control-group">
                <label>Distance</label>
                <input type="number" class="short" ng-model="calculator.data.distance"/>

                <div class="tsw-styled-select">
                    <select ng-model="calculator.data.unit">
                        <option value="mm">mm</option>
                        <option value="cm">cm</option>
                        <option value="m">m</option>
                        <option value="inches">inches</option>
                        <option value="feet">feet</option>
                    </select>
                </div>
            </div>

            <div class="tsw-control-group">
                <label>Scale</label>
                <input type="number" class="short" ng-model="calculator.data.scale"/> <span class="tsw-scale">blocks/meter</span>
            </div>

            <div class="tsw-control-group">
                <label>Blocks</label>
                <input type="number" value="{{calculator.blocks()}}"/>
            </div>

        </form>
    </div>

    <div class="tsw-calculator" ng-controller="TswMcSAdvancedCalculator as calculator">
        <h1>Paper Scales</h1>

        <p>This calulator allow you to enter a distance measured from a paper plan, setting the plan size and scale and convert this to the correct distance and then to Minecraft blocks.</p>

        <!--<p>This calculator can convert a distance into a number of blocks in Minecraft by rounding to the nearest meter and using a blocks per meter scale.</p>-->

        <form>

            <div class="tsw-control-group">
                <label>Distance as mesaured from paper plan</label>
                <input type="number" class="short" ng-model="calculator.data.distance"/>


                <div class="tsw-styled-select">
                    <select ng-model="calculator.data.unit">
                        <option value="mm">mm</option>
                        <option value="cm">cm</option>
                        <option value="m">m</option>
                        <option value="inches">inches</option>
                        <option value="feet">feet</option>
                    </select>
                </div>
            </div>

            <div class="tsw-control-group">

                <div class="col">

                    <label>Paper Size</label>
                    <div class="tsw-styled-select">
                        <select ng-model="calculator.data.paperSize">
                            <option value="4">A4</option>
                            <option value="3">A3</option>
                            <option value="2">A2</option>
                            <option value="1">A1</option>
                            <option value="0">A0</option>
                        </select>
                    </div>
                </div>

                <div class="col last">
                    <label>Plan Size</label>
                    <div class="tsw-styled-select">
                        <select ng-model="calculator.data.planSize">
                            <option value="4">A4</option>
                            <option value="3">A3</option>
                            <option value="2">A2</option>
                            <option value="1">A1</option>
                            <option value="0">A0</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="tsw-control-group">
                <label>Plan Scale</label>
               1 : <input type="number" class="medium" ng-model="calculator.data.planScale"/>
            </div>

            <div class="tsw-control-group">
                <label>Scale</label>
                <input type="number" class="short" ng-model="calculator.data.scale"/> <span class="tsw-scale">blocks/meter</span>
            </div>

            <div class="tsw-control-group">
                <label>Blocks</label>
                <input type="number" value="{{calculator.blocks()}}"/>
            </div>

        </form>
    </div>





    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <!--<script src="bower_components/angular/angular.js"></script>-->
    <script src="app.js"></script>

</body>
</html>
